body {
  background-color: purple;
}
#box1 {
  background-color: #FF9800;
  height: 200px;
  width: 700px;
}
#box2 {
  background-color: #4CAF50;
  height: 200px;
  width: 700px;
}#box3 {
  background-color: #094986;
  height: 200px;
  width: 700px;
}
h3 {
  color: white;
}
p3 {
  color: white;
}
#old {
    width: 200px;
    height: 200px;
}
div.static {
  position: static;

  border: 3px solid #73AD21;
}
